.home-item-div {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: space-around;

     border-radius: 5px;
     margin-bottom: 10px;
}



.home-desc-p {
    display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sep-item-div {
    border: 2px solid;
    border-color: #a8a8a8;
    width: 400px
}